*.pyo
*.pyc
*_dis
*~
/.cache
/.eggs
/.python-version
/.tox
/README
/__pkginfo__.pyc
/dist
/how-to-make-a-release.txt
/nose-*.egg
/tmp
/uncompyle6.egg-info
/unpyc
__pycache__
build
/.venv*
/.idea
/.hypothesis
